<div class="row">
    <div class="col-12">
        <h1>This Is The Admin Area</h1>
        <table class="table">
            <thead>
                <tr>
                    {{#each list}}
                    <th class="{{color}}">{{this.weekday}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each list}}
                    <td>
                        {{#each staff}}
                        <li>{{this.name}}</li>
                        {{/each}}
                    </td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
</div>