<div class="container">
    <div class="card">
        <div class="card-header" style="color: red;">
            Notice Board 09-NOV-2020


            <div class="card-body" style="color: royalblue;">
                <blockquote class="blockquote mb-0">
                    <p>Please enter your name and select the days you are working for this week</p>
                    <footer class="blockquote-footer">By Lusapho <cite title="Source Title">Founder of Saphos
                            Kitchen</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="sendUsers" method="POST">
                <input type="text" placeholder="please enter your name" class="nameEntered" name="name">

                <div class="col-12"> <button type="submit" class="btn">Add Name</button>
                </div>

            </form>
        </div>
        <div class="col-6">
            <form action="/waiters" method="get">
                <button type="submit" class="btn1 btn-primary col-3">Add Name</button>
        </div>
        </form>

        <div class="col-6"> <button type="submit" class="btn2">Add Name</button>
        </div>

    </div>
</div>