<div class="row">
    <form class="main" action="/data/{{this.name}}" method="get">
        <h5>{{this.name}}Please select days below:</h5>
        <div class="form-check form-check-inline">
            <input class="formCheckInput" type="checkbox" id="inlineCheckbox1" value="1" name="checkBox">
            <label class="form-check-label" for="inlineCheckbox1">Monday</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="formCheckInput" type="checkbox" id="inlineCheckbox2" value="2" name="checkBox">
            <label class="form-check-label" for="inlineCheckbox2">Tuesday</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="formCheckInput" type="checkbox" id="inlineCheckbox3" value="3" name="checkBox">
            <label class="form-check-label" for="inlineCheckbox3">Wednesday</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="formCheckInput" type="checkbox" id="inlineCheckbox1" value="4" name="checkBox">
            <label class="form-check-label" for="inlineCheckbox1">Thursday</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="formCheckInput" type="checkbox" id="inlineCheckbox2" value="5" name="checkBox">
            <label class="form-check-label" for="inlineCheckbox2">Friday</label>
        </div>
        <button type="submit" class="userBtn">Home</button>
    </form>
</div>